h1{
    font-size: 100px;
    /* text-decoration: underline; */
    border-width:5px;
    border-style: solid;
    border-color: black;
    border-radius: 40px; 
    background-color: bisque;
    color: blue;
    font-weight: 900;
    word-spacing: 4px;
    letter-spacing: 19px;
    padding-left: 70px;
    margin: 10px;
}
h2{
    border: 2px dotted rgb(22, 22, 5);
}
#container{
    color: brown;
}


#container .para{
    font-size: 50px;
}

#circle{
    height: 100px;
    width: 100px;
    border: 2px solid red;
    border-radius: 200px;
    background-color: rgb(19, 121, 6);
}
#eva{
    height: 100px;
    width: 100px;
    border: 2px solid black;
}

.box1{
    height: 200px;
    width: 200px;
    border: 2px solid black;
}
#box{
    display: flex;
}















































